<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="description" content="login")
        meta(name="keywords" content="ajax,login,register")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title JavaScript-logIn
        link(type="text/css" rel="stylesheet", href="/css/all.css")
        link(href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet")
    body
        .box
            h2.sign Log In
            form(action="")
                label(for="mail") Email
                input(type="Email" id="mail")
                br
                label(for="password") Password
                input(type="password" id="password")
                br
                a(href="#" class="change") Join Account
                p.msg.success
                input(type="button" value="Enter" class="signBtn")

        script(rel="text/javascript" src="/js/all.js")